{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 52.21862442621592,
    "longitude": 4.520004987716676,
    "elevation": 0,
    "unit_system": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Amsterdam",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR"
  }
}